.peternity-admin,
.peternity-admin h1,
.peternity-admin h2,
.peternity-admin h3,
.peternity-admin h4,
.peternity-admin h5,
.peternity-admin h6 {
  font-family: var(--font-inter), Inter, sans-serif;
}

.peternity-admin [class*="rounded"] {
  border-radius: 2px;
}

.peternity-admin [class*="shadow"] {
  box-shadow: none;
}
